#homeStyle{
  background-color: #FFFF; 
  padding: 0px 15px;
   display: flex; 
   justify-content: space-between
}
#carInfo h6{
  padding: 2px;
}
#homeStyle{
  padding: 15px 10px;
}
#search{
  margin: auto;
   display:flex;
   width:40%;
   
}
 
#inp{
    width: 70%;
    outline: none;
    border: none;
    padding: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
#btn{
    background-color:#F91944;
    color:white;
    width: 30%;
    border: none;
    padding: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}